body {
    background-image: url("../images/5011.png");
    background-repeat: repeat;
}

#game {
    display: none;
}

#restartButton {
    display: none;
}

#losingPicture {
    display: none;
    width: 10%;
    margin-left: 30%;
}

#winningPicture {
    display: none;
    width: 10%;
}

#almostWinning {
    display: none;
    width: 15%;
    margin-left: 23%;
}

#heading {
    width: 70%;
    margin-left: 15%;
    font-family: 'Pangolin', cursive;
    text-align: center;
    margin-top: 10%;
    padding: 20px;
    background-color: rgb(87, 177, 230);
}

h1 {
    font-size: 50px;
}

#description {
    font-size: 25px;
}

#game {
    text-align: center;
    font-family: 'Special Elite', cursive;
    background-color: rgb(87, 177, 230);
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
}

#timer {
    margin-bottom: 5%;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

#resultPage {
    text-align: center!important;
    display: none;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(87, 177, 230);
    padding: 20px;
}

#allCorrectAnswers {
    text-align: center!important;
}

#answers {
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

#almostParagraph {
    text-align: center!important;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    border: 2px solid black;
}

p {
    text-align: center!important;
}